* {
    margin:0;
    padding:0;
}
body {
    width:1250px;
}
#container {
    width:100%;
}
#logo {
    position: absolute;
    width:200px;
    height:200px;
    margin-left: 150px;
}
input {
    width:250px;
    height:30px;
    margin-top:20px;
}
#password {
    margin-left:15px;
}
#check {
    width: 150px;
}
#checkPosition {
    float: left;
}
#code {
    float: left;
    height:30px;
    width:100px;
    border:1px solid;
    margin-left:0;
    margin-top:20px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
button {
    margin-left: 65px;
    width:260px;
    height:40px;
    background-color: #3f89ec;
    margin-top:40px;
    text-align: center;
    cursor: pointer;
    opacity: 0.8;
}
#checkPhone {
    font-size: 15px;
    color: #ff0000;
}
#checkPassword {
    font-size: 15px;
    color: #ff0000;
}
#checkCode {
    font-size: 15px;
    color: #ff0000;
}
#login {
    width:550px;
    margin:0 auto;
}
#login img {
    width:25px;
    height:25px;
    margin-top: 10px;
}
#searchBtn {
    margin-top: 20px;
}
#endDiv{
    margin-top: 20px;
    width:auto;
    min-width:990px;
    height:400px;
    background-color: #fff;
    border-top:1px solid #ededed;
}
#endDiv_{
    width:990px;
    margin-left: auto;
    margin-right: auto;
}
#endDiv_top{
    height: 89px;
    text-align: center;
    padding-top: 10px;
    border-bottom: 1px solid #ededed;
}
.endDivTop{
    width:25%;
    height: 100px;
    float: left;
}
#endDiv_center{
    height: 200px;
    text-align: center;
}
.endDiv_center{
    width:20%;
    padding-top:20px;
    height: 180px;
    float: left;
}
#endDiv_bottom{
    width:990px;
    height: 199px;
    margin-left:auto;
    margin-right:auto;
    color: #fff;
    font-size: 12px;
}
#endDiv_bottom a{
    text-decoration: none;
    color: #fff;
}
#info {
    margin-left: -935px;
    width:1000px;
    position: absolute;
    background-color: #fff;
    height:200px;
    z-index: 1000;
}
.infoStyle {
    float: left;
    margin-left: 50px;
    width:200px;
    height:100px;
}
.infoStyle li {
    float: left;
}